@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
* {
     font-family: 'Poppins', sans-serif;
}
body {
background-color:black;
 font-family: 'Poppins', sans-serif;
}
h1{color:gray;
text-align: center;
padding:30px 30px 10px  30px;
font-family: 'Poppins', sans-serif;
font-weight: 600;
font-size: 36px;
}
.wrapper { background-color: white; border-radius: 25px; max-width: 600px; height: 90%;
    margin: 1% 0 0 25%;}
.form {
    margin: 2% 0 3% 10%;
}
.principal {
    margin-bottom: 5%;
}
.interest {
   margin-top:2%;
}
div, button {
    font-weight: 600;
}

input, select {
    margin-left: 5%;
}
p {
    font-weight: 500;
    margin: 2%  2% 2% 10%;
    font-size: 18px;
}
#finalResult {
    font-weight: 700;
    margin: 2% 2% 0 10%;
    font-size: 14px;
}
